@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
html {
font-family: 'Lato', sans-serif;
}
body{
    margin: 0px;
}
.header{
    background: #000000;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.small_header{
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.gap{
    display: flex;
    gap: 41px;
}
.menu_top{
    display: flex;
    gap: 25px;
    position: relative;
}
.menu_top_in{
    display: flex;
    gap: 42px;
    
}
.open_menu{
    opacity: 0;
    width: 232px;
    height: 634px;
    background-color: #FFF;
    position: absolute;
    padding-left: 32px;
    display: flex;
    flex-direction: column;
    top: 76px;
    right: 0px;


}
.small_header:hover .open_menu{
    opacity: 1;
}
.menu_top:hover .open_menu{
    opacity: 1;
}

.text_1{
    margin-top: 32px;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}
.text_2{
    margin: 24px 0px 0px 0px;
    color: #F16D7F;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
.text_3{
    margin-top: 0px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    
}
.text_4{
    margin-top: 12px;
    color: #6F6E6E;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;

}
.q{
    position: relative;
}
.ball{
    width: 19px;
    height: 19px;
    background-color: #F16D7F;
    border-radius: 50%;
    color: #FFF;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -7;
    right: -9;


}

.one_block{
    justify-content: center;
    width: 1fr;
    height: 764px;
    flex-shrink: 0;
    background: #F1E4E6;
    display: flex;
    align-items: center;
}







.line{
    border-left: 12px ;
    width: 12px;
    height: 92px;
    flex-shrink: 0;
    background-color: #F16D7F;
    margin: 0px 0px 0px 63.42px;
}
.string_one{
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.string_two{
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.string_three{
    color: #F16D7F;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.two_block{
    display: grid;
    grid-template-columns: 360px 360px 360px;
    grid-template-rows: 260px 180px;
    gap: 30px;
    justify-content: center;
    margin-top: 65px;
}
.two{
    /* opacity: 0.2; */
    fill: rgba(10, 6, 6, 0.7);
    position: relative;
    
}
.darkening{
    width: 100%;
    height: 100%;
    background-color: rgba(33, 22, 22, 0.70);
    position: absolute;
}
.two-1{
    grid-column: 1/4;
    position: relative;
    /* opacity: 0.2; */
}
.top_title{
    color: #ffffff;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.down_title{
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    
}
.three_block{
    margin-top: 96px;
    text-align: center;
}
.head_three_block{
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.second{
    margin-top: 6px;
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.product{
    margin-top: 48px;
    display: grid;
    grid-template-columns: 360px 360px 360px;
    grid-template-rows: 581px 581px;
    gap: 30px;
    justify-content: center;

}
.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(33, 22, 22, 0.70);
}
.product_1{
   background-color: #F8F8F8;
   position: relative;
}
.dark_card{
    width: 360px;
    height: 420px;
    position: absolute;
    background-color: rgba(58, 56, 56, 0.86);
}
.basket_dark{
    width: 139px;
    height: 44px;
    color: #FFF;
    border: 1px solid #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    position: absolute;
    background-color:inherit;
    top: 180px;
    left: 112px;
}
.op{
    opacity: 0;
}
.op:hover {
    opacity: 1;
}
.in{
    margin: 24px 16px;
}
.one_text_card{
    text-align: start; 
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.two_text_card{
    margin: 16px 32px 16px 0px;
    text-align: start; 
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 16px 0px;
}
.price{
    text-align: start; 
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.foot{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.button_one{
    margin-top: 48px;
    width: 212px;
    height: 48px;
    flex-shrink: 0;
    border-color: #FF6A6A;
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.black_footer{
    margin-top: 95px;
    width: 1600px;
    height: 341px;
    flex-shrink: 0;
    background-color: #222224;
    display: grid;
    grid-template-columns: 360px 360px 360px;
    gap: 30px;
    align-content: center;
    justify-content: center;
}
.centr_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text_foo{
    margin-top: 28.07px;
    color: #FBFBFB;
    font-family: Lato;
    font-size: 19.96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.text_low{
    margin-top: 16px;
    color: #FBFBFB;
    text-align: center;
    font-family: Lato;
    font-size: 13.972px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.str{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1fr;
    position: relative;

}
.wrp{
    width: 100%;
    height: 446px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(244, 244, 244, 0.70);
}
.footer_face{
    display: grid;
    grid-template-columns: 360px 557px;
    gap: 224px;
    align-items: center;
    position: absolute;
    top: 98px;
    left: 244px;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    color: #222224;
    font-family: Lato;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}


.up{
    color: #222224;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 167.2%; 
}
.down{
    color: #222224;
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 167.2%;

}
 .foot_sc{
    display: flex;
    margin-top: 39px;
    justify-content: center;
 }

 .butt_foot{
    width: 100px;
    height: 49px;
    flex-shrink: 0;
    background-color: #F16D7F;
    border: none;
    border-radius: 0px 25px 25px 0px;
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
        
 }
 .serch{
    border-radius: 25px 0px 0px 25px;
    border: none;
    background-color: #E1E1E1;
    width: 256px;
    height: 49px;
 }

.end{
    width: 1600px;
    height: 79px;
    flex-shrink: 0;
    background-color: #222224;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.text{
    color: #FBFBFB;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.pictog{
    display: grid;
    grid-template-columns: 32px 32px 32px 32px;
    grid-template-rows: 32px;
    gap: 7.5px;
}
.w{
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media  screen and (max-width: 1439px) {
    .small_header{
        width: 768px;
    }
    .one_block{
        height: 368px;
    }
    .string_one{
        font-size: 44px;
    }
    .string_two{
        font-size: 24px;
    }
    .string_three{
        font-size: 24px;
    }
    .two_block{
        grid-template-columns: 231.973px 231.973px 231.973px;
        grid-template-rows: 167.617px 116.043px;
        gap: 19.9px;
    }
    .three_block{
        margin-top: 109px;
    }
    .product{
        margin-top: 48px;
        display: grid;
        grid-template-columns: 360px 360px;
        grid-template-rows: 581px 581px 581px;
        row-gap: 17px;
        column-gap: 16px;
    }
    .one_text_card{
        margin-top: 24px;
        font-size: 12px;

    }
    .two_text_card{
        font-size: 14.5px;

    }
    .price{
        font-size: 14px;
        
    }
    .black_footer{
        width: 768px;
        height: 610px;
        margin-top: 65px;
        grid-template-columns: 360px;
        
    }
    .wrp{
        height: 693px;
    }
    .footer_face{
        grid-template-columns: 360px;
        grid-template-rows: 200px;
        gap:48px;
    }
    .end{
        width: 768px;
    }


} 
@media screen and (max-width: 767px){
    .m{
        margin: 0 16px;
    }
    .small_header{
        padding-left: 16px;
        padding-right: 16px;
    }
    .menu_top_in{
        display: none;
    }
    .body{
        margin: 0 16px;
    }
    .none_man{
        display: none;
    }
    .one_block{
        height: 363px;
    }
    .string_one{
        font-size: 38px;
    }
    .string_two{
        font-size: 20px;
    }
    .string_three{
        font-size: 20px;
    }
    .line{
        height: 61px;
    }
    .two_block{
        grid-template-columns: 343px;
        grid-template-rows: 247px 247px 247px 110px;
        gap: 32px;
    }
    .two-1{
        grid-column: 1;
        position: relative;
        /* opacity: 0.2; */
    }
    .three_block{
        margin-top: 64px;
    }
    .product{
        grid-template-columns: 360px;
        grid-template-rows: 581px 581px 581px 581px 581px 581px;
    }

    .black_footer{
        width: 375px;
    }
    .wrp{
        width: 375px;
        height: 550px;
    }
    .footer_face{
        left: 7px;
    }
    .end{
        width: 375px;
        height: 143px;
        flex-direction: column-reverse;
    }
    .pictog{
        margin-top: 51px;
    }
    .text{
        margin-top: 40px;
    }



}